
*{
	font-family: 'sans-serif', 'arial';
	font-weight: bold;
	font-size: 18px;
}

.data{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.data div{
	vertical-align: middle;
}

.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#data-child{
	padding: 25px 12px;
}

input[type=submit] {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: lightGreen;
}